<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Robots</title>
  </head>
  <body>

    <form class="" action="/form" method="post">
      <input type="text" name="city" placeholder="City" value=""><input type="text" name="" placeholder="Country"value="">
      <input type="text" name="Image" placeholder="Link Image Here"value="">
      <input type="text" name="Company" placeholder="Company" value="">
      <input type="email" name="email" placeholder="Email" value="">
      <input type="text" name="Id" placeholder="ID" value="">
      <input type="text" name="job" placeholder="Job" value="">
      <input type="text" name="Name" placeholder="Name" value="">
      <input type="tel" name="phoneNumber" placeholder="Phone Number"value="">
      <input type="text" name="skills" placeholder="Skills" value="">
      <input type="text" name="University" placeholder="University" value="">
      <input type="text" name="username" placeholder="Username" value="">
      <button type="submit" name="button"></button>
    </form>
  </body>
</html>
